input {
  width: 500px;
  height: 200px;
  border: #add8e6;
  background: #add8e6;
}
.close {
  padding: 20px;
  float: right;
  top: 0;
  right: 0;
  padding: 20px;
  position: absolute;
}
.container {
  background-color: #ffffe0;
  text-align: center;
  line-height: 40px;
}
.date {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 15px;
}
.selectWrapper {
  width: 30%;
  height: 120px;
  float: left;
  border: 1px solid #000;
  box-sizing: border-box;
}
.add {
  line-height: 40px;
  display: inline-block;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
.sub {
  line-height: 40px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
